repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-merge-conflict
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-symlinks
  - id: mixed-line-ending
  - id: destroyed-symlinks
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix]
  - id: end-of-file-fixer
  - id: trailing-whitespace
